.align-content {
    .item {
        display: flex;
        height: 100px;;
        width: 100px;
        flex-wrap: wrap;
        align-content: stretch;
    }
}

.align-content-start {
    .item {
        display: flex;
        height: 100px;;
        width: 100px;
        flex-wrap: wrap;
        align-content: flex-start;
    }
}

.align-content-end {
    .item {
        display: flex;
        height: 100px;;
        width: 100px;
        flex-wrap: wrap;
        align-content: flex-end;
    }
}